/* You can add global styles to this file, and also import other style files */
.comp-container {
    background-color: aliceblue;
    border: solid 1px grey;
    border-radius: 3px;
    padding: 0 1em 1em;
}