.grid-calendar {
  min-width: 320px;
}

.grid-calendar .row {
  margin: 0;
}

.grid-calendar .calendar-week .grid-cell {
  background-color: #fafafa;
  border: 1px solid #fff;
}

.grid-calendar .calendar-week .grid-cell.holyday {
  color: #f00;
  background-color: #faeeee;
}

.grid-calendar .grid-cell.today,
.grid-calendar .calendar-week .grid-cell.holyday.today {
  background-color: rgb(252, 229, 166);
  font-weight: 600;
}

.grid-calendar .calendar-week .grid-cell.holyday.next-month {
  color: rgb(252, 145, 145);
  background-color: #ece1e1;
}

.grid-calendar .calendar-week .grid-cell.holyday:hover {
  background-color: #fae6e6;
}

.grid-calendar .calendar-week-header .grid-cell>div {
  border-top: 1px solid #a6a6a6;
  font-weight: 700;
  height: 2rem;
  margin-top: .5rem;
  position: relative;
  text-align: right;
}

.grid-calendar .grid-cell {
  display: inline-block;
  min-height: 1px;
  padding: 0;
  position: relative;
  width: 14.2857142857%;
}

.grid-calendar .mon-cell {
  border: 1px red solid;
  font-weight: 700;
  margin-top: 3rem;
  min-height: 1px;
  width: 8.3333333333%;
}

.row .btn-mon {
  border: 1px solid #e1e1e1;
  color: #616060;
  min-width: 3.1rem;
  width: 100%; 
}

.row .btn-mon.btn-primary {
  color: yellow;
  font-weight: 600;
}

.grid-calendar .grid-cell.today:hover {
  background-color: rgb(255, 187, 0);
}

.grid-calendar .grid-cell:hover {
  background-color: #e1e1e1;
}

.grid-calendar .grid-cell.next-month {
  color: #a6a6a6;
  background-color: #e1e1e1;
}

.grid-calendar .grid-cell.next-month .dateText {
  color: #a6a6a6;
}

.grid-calendar .grid-cell.prev-month {
  background-color: #e1e1e1;
}

.grid-calendar .grid-cell>div {
  height: 8rem;
  padding: .4rem;
  width: 100%;
}

.calDate {
  float: right;
  font-weight: 600;
  text-align: right;
  margin-bottom: 5px;
  width: 100%;
}

.grid-cell.today .calDate {
  color: #00f;
  font-size: x-large;
  padding-right: 10px;
}

.dateText {
  color: #00f;
  float: left;
  font-size: 9pt;
}

.dateText ul {
  padding-left: .7rem;
}

.holiHead {
  color: #f00;
}

.BDay {
  color: red;
  font-weight: 600;
}

#left-bar,
#right-bar {
  background-color: antiquewhite;
  margin-top: 4rem;
  padding-left: 1.5rem;
}