/* ========================================== */
/*   /usr/share/cinnamon/theme/cinnamon.css   */
/* ========================================== */

#panel {
    background-color: #000000;
}

.modal-dialog {
    background-color: #000000;
}

.grouped-window-list-box {
    spacing: 4px;
}

.applet-box {
    padding-left: 8px;
    padding-right: 8px;
}

.menu-background {
    background-color: #000000;
}