.pvi-popup {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.pvi-popup .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.pvi-popup>div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 777px;
    min-height: 100px;
    padding: 15px 5%;
    position: relative;
    vertical-align: middle;
    width: 60%;
}

.pvi-pop-btn-close {
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 4px;
    width: 30px;
}